<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/style-menu.css" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Menu</title>
  </head>
  <body>
    <div class="title"> <h1 class="padding-text">PANNENKOEKEN</h1> </div>

    <div id="app">

    
    <div class="menu-categorie" >
      <div v-for="data in menu"> 
        <div class="categorie-btn" v-if="data.categorie=='pannenkoeken'" > 
            <h2 class="margin-categorie">{{data.name}} </h2>  <button class="sound-btn"  v-on:click="read(data.name)" > <img src="src/sound.svg"> </button>
        </div>
      </div>
    </div>

    <div class="button-back">
      <a href="filteredMenu.html">
        <h2 class="margin-extra">Vorige pagina</h2>
      </a>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="data.js"></script>
  </body>
</html>
