body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 30px;
}

h1,
h2,
.menu-categorie {
  margin-left: 50px;
  padding-top: 5px;
}

h3 {
  padding-top: 8px;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

.title {
  background-color: #403a7d;
  color: #fff;
  width: 70%;
  height: 100px;
  border-radius: 0 60px 60px 0;
}

.filter-button,
.categorie-btn {
  background-color: #ebebeb;
  width: 60%;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  margin-left: 30px;
}

.button-back {
  background-color: #ebebeb;
  width: 50%;
  height: 100px;
  border-radius: 0 60px 60px 0;
}

.sub-categorie {
  background-color: #8282cf;
  color: #fff;
  width: 60%;
  height: 100px;
  border-radius: 0 60px 60px 0;
}

.margin-extra {
  margin-left: 30px;
}

.padding-extra {
  padding-top: 8px;
}

.margin-categorie {
  margin-top: 8px;
  font-size: 50px;
}

.filter-text {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
}

.sound-btn {
  border: none;
  background: none;
  margin-left: 10px;
}

.categorie-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  font-size: 50px;
}

.link-to-filter {
  margin-top: -55px;
}

.sound-btn-menu {
  margin-top: 15px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
